In [4]:
from sklearn.metrics import adjusted_rand_score as ARI
import pickle
import numpy as np
import pandas as pd

In [2]:
teamdrive_root = 'Path To Folder'

In [12]:
clusters_df = pd.read_csv(teamdrive_root +'icons_experiment/no_noise_clusters.csv', index_col=0)
clusters = list(map(list, zip(*clusters.values.tolist())))

In [15]:
clusters_df.head(10)

   run_0  run_1  run_2  run_3  run_4
0     10     10     10     10     17
1      0      0     15     15      0
2      9      6     12      6      5
3     11      2     17     14      3
4     11      4      5     11     18
5      7      1      8      5      1
6      1     18      1     12     11
7      9     17     12     17     16
8     12     11     11     16     19
9      9     17      0     17     16

In [13]:

pairwise_aris = np.zeros((len(clusters), len(clusters)))

for i, c in enumerate(clusters):
    for j, c_ in enumerate(clusters):
        pairwise_aris[i,j] = ARI(c, c_)


mean_aris = np.mean(pairwise_aris, axis=0)
most_representative = np.argmax(mean_aris)
print(clusters[most_representative])

[10, 15, 12, 17, 5, 8, 1, 12, 11, 0, 7, 9, 12, 2, 6, 6, 4, 0, 9, 2, 2, 4, 6, 7, 4, 17, 0, 13, 14, 13, 4, 11, 6, 14, 9, 6, 2, 14, 15, 7, 16, 2, 2, 6, 14, 12, 9, 2, 2, 12, 18, 11, 6, 1, 15, 0, 1, 9, 1, 16, 8, 11, 15, 9, 4, 19, 17, 7, 9, 0, 8, 2, 4, 8, 19, 8, 9, 5, 8, 1, 1, 13, 8, 17, 19, 19, 3, 16, 2, 14, 14, 12, 9, 9]

In [14]:
most_representative

2

In [16]:
mean_aris

array([0.48065854, 0.45206934, 0.49862752, 0.48365406, 0.43037092])

In [17]:
pairwise_aris

array([[1.        , 0.2699834 , 0.36916366, 0.49108889, 0.27305674],
       [0.2699834 , 1.        , 0.43679486, 0.26623419, 0.28733425],
       [0.36916366, 0.43679486, 1.        , 0.37833134, 0.30884774],
       [0.49108889, 0.26623419, 0.37833134, 1.        , 0.28261588],
       [0.27305674, 0.28733425, 0.30884774, 0.28261588, 1.        ]])